@use 'sass:map';
@use 'sass:list';

$color-blue: #5ea3ec;
$color-red: #f64444;
$color-yellow: #ffb400;
$color-white: #fff;
$color-black: #000;
$column-close-w: 3.75rem;
$column-num: 4;
$grid-time: (
  column-delay: 50ms,
  column-duration: 300ms,
);

.grid {
  display: grid;
  grid-template-rows: 100vh auto;
  transition: grid-template-columns map.get($grid-time, 'column-duration');

  @for $i from 1 through $column-num {
    &[data-selected-nth='#{$i}'] {
      $val: ();
      @for $j from 1 through $column-num {
        @if $j != $i {
          $val: list.append($val, $column-close-w);
        } @else {
          $val: list.append(
            $val,
            calc(100% - ($column-num - 1) * $column-close-w)
          );
        }
      }

      grid-template-columns: $val;
    }
  }

  &__column {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: 1 / -1;

    &:nth-of-type(1) {
      background-color: $color-white;
    }

    &:nth-of-type(2) {
      background-color: $color-blue;
    }

    &:nth-of-type(3) {
      background-color: $color-red;
    }

    &:nth-of-type(4) {
      background-color: $color-yellow;
    }
  }
}

.sticky {
  $sticky-p-x: 0.3125rem;
  $sticky-p-y: 3.75rem;

  position: sticky;
  top: 0;
  grid-row: 1;
  grid-column: 1;
  justify-self: start;
  width: $column-close-w;
  padding-block: $sticky-p-y;
  padding-inline: $sticky-p-x;
  overflow: hidden;
  cursor: pointer;

  &__head {
    text-align: center;
  }

  &__center {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translateY(-50%) translateX(-50%) rotate(90deg);
    transform-origin: center;
  }
}

.content {
  grid-row: 1 / -1;
  grid-column: 1;
}
