@use 'sass:map';
@use 'sass:list';

@import 'https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@300..700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap';

$color-blue: #5ea3ec;
$color-red: #f64444;
$color-yellow: #ffb400;
$color-white: #fff;
$color-black: #000;
$column-close-w: 3.75rem;
$column-num: 4;
$grid-duration: 300ms;
$sticky-on-duration: 150ms;
$sticky-off-duration: 300ms;
$content-on-duration: 250ms;
$content-off-duration: 150ms;
$grid-delay: max($content-off-duration, $sticky-on-duration) + 300ms;
$sticky-off-delay: $content-off-duration + $grid-duration + 300ms;
$content-on-delay: $grid-duration + $grid-delay;
$font-sans: ('Spline Sans Mono', monospace);
$font-serif: ('Playfair Display', serif);
$sticky-1-p-x: 3.75rem;
$sticky-p-x: 0.3125rem;
$sticky-p-y: 3.75rem;
$section-p: 3.75rem;
$section-gap: 3.75rem;

h1,
h2,
h3,
h4,
p {
  margin-block-start: 0;
}

.grid {
  display: grid;
  grid-template-rows: 100vh auto;
  transition: grid-template-columns $grid-duration ease-in $grid-delay;

  @for $i from 1 through $column-num {
    &[data-selected-nth='#{$i}'] {
      $val: ();
      @for $j from 1 through $column-num {
        @if $j != $i {
          $val: list.append($val, $column-close-w);
        } @else {
          $val: list.append(
            $val,
            calc(100% - ($column-num - 1) * $column-close-w)
          );
        }
      }

      grid-template-columns: $val;
    }
  }
}

.column {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: 1 / -1;

  &:nth-child(1) {
    background-color: $color-white;
  }

  &:nth-child(2) {
    background-color: $color-blue;
  }

  &:nth-child(3) {
    background-color: $color-red;
  }

  &:nth-child(4) {
    background-color: $color-yellow;
  }
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 2;
  grid-row: 1;
  grid-column: 1;
  justify-self: start;
  width: $column-close-w;
  padding-block: $sticky-p-y;
  padding-inline: $sticky-p-x;
  overflow: hidden;
  font-family: $font-sans;
  font-size: 20px;
  line-height: 1.325;
  text-transform: capitalize;
  cursor: pointer;

  @at-root .column:nth-child(1) & {
    transition: padding-inline $grid-duration ease-in $grid-delay,
      width $grid-duration ease-in $grid-delay;
  }

  @at-root .grid[data-selected-nth='1'] .column:nth-child(1) & {
    width: calc(60px + 2 * $sticky-1-p-x);
    padding-inline: $sticky-1-p-x;
    transition: padding-inline $sticky-off-duration ease-in $grid-delay,
      width $sticky-off-duration ease-in $grid-delay;
  }

  @for $i from 2 through $column-num {
    @at-root .column:nth-child(#{$i}) & {
      opacity: 1;
      transition: opacity $sticky-on-duration ease-in;
    }

    @at-root .grid[data-selected-nth='#{$i}'] .column:nth-child(#{$i}) & {
      opacity: 0;
      transition: opacity $sticky-off-duration ease-in $sticky-off-delay;
    }
  }

  &__head {
    text-align: center;

    @at-root .column:nth-child(1) & {
      svg {
        aspect-ratio: 1 / 1;
      }
    }
  }

  &__center {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translateY(-50%) translateX(-50%) rotate(90deg);
    transform-origin: center;
  }
}

.content {
  z-index: 1;
  grid-row: 1 / -1;
  grid-column: 1;
  opacity: 0;
  transition: opacity $content-off-duration ease-in;

  @for $i from 1 through $column-num {
    @at-root .grid[data-selected-nth='#{$i}'] .column:nth-child(#{$i}) & {
      opacity: 1;
      transition: opacity $content-on-duration ease-in $content-on-delay;
    }
  }
}

.section {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: $section-gap;
  padding: $section-p;

  &--fullwidth {
    padding-inline: 0;
  }

  > * {
    grid-column-end: span 2;
  }

  @at-root .column:nth-child(1) & {
    &:nth-child(1) {
      padding-top: 15.625rem;

      h1 {
        grid-column: 1 / -1;
        max-width: 30ch;
        font-family: $font-serif;
        font-size: 4.6875rem;
        font-weight: 400;
        line-height: 5.375rem;
        text-wrap: balance;
      }
    }

    &:nth-child(2) {
      img {
        grid-column: 1 / -1;
      }
    }

    &:nth-child(3) {
      h2 {
        grid-column: 1 / -1;
        max-width: 15ch;
        font-family: $font-serif;
        font-size: 7.0625rem;
        font-weight: 400;
        line-height: 9.3578rem;
        text-wrap: balance;
      }

      .card {
        font-family: $font-sans;
        font-size: 0.875rem;
        line-height: 1.5;

        &__txt {
          margin-top: 1.875rem;
        }
      }
    }

    &:nth-child(4) {
      padding-bottom: 5.625rem;
      text-align: center;

      .row {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / -1;

        &--custom-grid {
          display: grid;
          grid-template-columns: repeat(3, minmax(min-content, 1fr));
          column-gap: $section-gap;
          place-items: center center;

          h2 {
            font-family: $font-serif;
            font-size: 6.25rem;
            font-weight: 400;
            line-height: 6.25rem;
          }
        }

        &--decorative {
          padding-block: 0.75rem;
          background-image: linear-gradient(90deg, #000 50%, transparent 0),
            linear-gradient(90deg, #000 50%, transparent 0);
          background-repeat: repeat-x, repeat-x;
          background-position: 0 0, 0 100%;
          background-size: 24px 1px, 24px 1px;
        }

        &--contain-btn {
          position: relative;
        }
      }

      .graphic-text {
        min-width: 7.25rem;

        svg {
          aspect-ratio: 116 / 60;
        }
      }

      .card {
        grid-column-end: span 2;
        font-family: $font-sans;
        color: currentcolor;
        text-decoration: none;
        @for $i from 1 through 3 {
          &:nth-child(#{$i}) {
            grid-column-start: calc(2 * ($i - 1) + 1);
          }
        }
      }

      .date {
        font-size: 0.75rem;
        line-height: 1.325;
      }

      .description {
        margin-top: 0.9375rem;
      }

      .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        max-width: 11.25rem;
        padding: 1.25rem;
        font-family: $font-sans;
        font-size: 1rem;
        line-height: 1.325;
        color: currentcolor;
        text-decoration: none;
        background-color: $color-white;
        border: 0.0625rem solid $color-black;
        transform: translate(-50%, -50%);
      }
    }

    &:nth-child(5) {
      grid-template-rows: min-content;

      > * {
        grid-column-end: span 3;
        padding: 0.0625rem;
        background-image: linear-gradient(
            90deg,
            rgb(0 0 0) 50%,
            rgb(0 0 0 / 0%) 0
          ),
          linear-gradient(90deg, rgb(0 0 0) 50%, rgb(0 0 0 / 0%) 0),
          linear-gradient(rgb(0 0 0) 50%, rgb(0 0 0 / 0%) 0),
          linear-gradient(rgb(0 0 0) 50%, rgb(0 0 0 / 0%) 0);
        background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
        background-position-x: 7.5315px, -7.5315px, 0, 100%;
        background-position-y: 0, 100%, -7.5315px, 7.5315px;
        background-size: 30px 1px, 30px 1px, 1px 30px, 1px 30px;
      }

      .address {
        color: currentcolor;
        text-decoration: none;

        h3 {
          max-width: 20ch;
          padding: 5.6875rem 1.9375rem;
          margin-inline: auto;
          font-family: $font-serif;
          font-size: 3.75rem;
          font-weight: 400;
          line-height: 1.325;
          text-align: center;
        }
      }

      .map {
        position: relative;
        overflow: hidden;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: -1;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
