@import 'https://use.typekit.net/mag5mpb.css';
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: calling-code, sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.325;
}

#grid {
  display: grid;
  grid-template-rows: 100lvh auto;
  transition: grid-template-columns 500ms ease-in-out;
}
#grid[data-opened="1"] {
  grid-template-columns: calc(100% - 11.25rem) 3.75rem 3.75rem 3.75rem;
}
#grid[data-opened="2"] {
  grid-template-columns: 3.75rem calc(100% - 11.25rem) 3.75rem 3.75rem;
}
#grid[data-opened="3"] {
  grid-template-columns: 3.75rem 3.75rem calc(100% - 11.25rem) 3.75rem;
}
#grid[data-opened="4"] {
  grid-template-columns: 3.75rem 3.75rem 3.75rem calc(100% - 11.25rem);
}

.column {
  display: grid;
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
  grid-row: 1/-1;
  overflow: hidden;
}
.column__sticky {
  grid-row: 1;
  overflow: hidden;
}
.column__container {
  grid-row: 1/-1;
}
.column__logo {
  width: 3.75rem;
  aspect-ratio: 1/1;
}
.column--nth-1 {
  background-color: #fff;
}
.column--nth-2 {
  background-color: #5ea3ec;
}
.column--nth-2 .column__sticky::after {
  display: block;
  height: 100%;
  content: "";
  background-color: #fff;
}
.column--nth-3 {
  background-color: #f64444;
}
.column--nth-3 .column__sticky::after {
  display: block;
  height: 100%;
  content: "";
  background-color: #fff;
}
.column--nth-4 {
  background-color: #ffb400;
}
.column--nth-4 .column__sticky::after {
  display: block;
  height: 100%;
  content: "";
  background-color: #fff;
}