@import 'https://use.typekit.net/mag5mpb.css';

$column-w-closed: 3.75rem;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: calling-code, sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.325;
}

#grid {
  display: grid;
  grid-template-rows: 100lvh auto;

  &[data-opened='1'] {
    grid-template-columns:
      calc(100% - 3 * $column-w-closed) $column-w-closed
      $column-w-closed
      $column-w-closed;
  }

  &[data-opened='2'] {
    grid-template-columns:
      $column-w-closed
      calc(100% - 3 * $column-w-closed)
      $column-w-closed
      $column-w-closed;
  }

  &[data-opened='3'] {
    grid-template-columns:
      $column-w-closed
      $column-w-closed
      calc(100% - 3 * $column-w-closed)
      $column-w-closed;
  }

  &[data-opened='4'] {
    grid-template-columns:
      $column-w-closed
      $column-w-closed
      $column-w-closed
      calc(100% - 3 * $column-w-closed);
  }

  transition: grid-template-columns 500ms ease-in-out;
}

.column {
  display: grid;
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
  grid-row: 1 / -1;
  overflow: hidden;

  &__sticky {
    grid-row: 1;
    overflow: hidden;
  }

  &__container {
    grid-row: 1 / -1;
  }

  &__logo {
    width: 3.75rem;
    aspect-ratio: 1 / 1;
  }

  &--nth {
    &-1 {
      background-color: #fff;

      & .column__sticky {
      }
    }

    &-2 {
      background-color: #5ea3ec;

      & .column__sticky {
        &::after {
          display: block;
          height: 100%;
          content: '';
          background-color: #fff;
        }
      }
    }

    &-3 {
      background-color: #f64444;

      & .column__sticky {
        &::after {
          display: block;
          height: 100%;
          content: '';
          background-color: #fff;
        }
      }
    }

    &-4 {
      background-color: #ffb400;

      & .column__sticky {
        &::after {
          display: block;
          height: 100%;
          content: '';
          background-color: #fff;
        }
      }
    }
  }
}
