@import 'https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@300..700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap';
h1,
h2,
h3,
h4,
p {
  margin-block-start: 0;
}

.grid {
  display: grid;
  grid-template-rows: 100vh auto;
  transition: grid-template-columns 300ms ease-in 450ms;
}
.grid[data-selected-nth="1"] {
  grid-template-columns: calc(100% - 11.25rem) 3.75rem 3.75rem 3.75rem;
}
.grid[data-selected-nth="2"] {
  grid-template-columns: 3.75rem calc(100% - 11.25rem) 3.75rem 3.75rem;
}
.grid[data-selected-nth="3"] {
  grid-template-columns: 3.75rem 3.75rem calc(100% - 11.25rem) 3.75rem;
}
.grid[data-selected-nth="4"] {
  grid-template-columns: 3.75rem 3.75rem 3.75rem calc(100% - 11.25rem);
}

.column {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: 1/-1;
}
.column:nth-child(1) {
  background-color: #fff;
}
.column:nth-child(2) {
  background-color: #5ea3ec;
}
.column:nth-child(3) {
  background-color: #f64444;
}
.column:nth-child(4) {
  background-color: #ffb400;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 2;
  grid-row: 1;
  grid-column: 1;
  justify-self: start;
  width: 3.75rem;
  padding-block: 3.75rem;
  padding-inline: 0.3125rem;
  overflow: hidden;
  font-family: "Spline Sans Mono", monospace;
  font-size: 20px;
  line-height: 1.325;
  text-transform: capitalize;
  cursor: pointer;
}
.column:nth-child(1) .sticky {
  transition: padding-inline 300ms ease-in 450ms, width 300ms ease-in 450ms;
}

.grid[data-selected-nth="1"] .column:nth-child(1) .sticky {
  width: calc(60px + 7.5rem);
  padding-inline: 3.75rem;
  transition: padding-inline 300ms ease-in 450ms, width 300ms ease-in 450ms;
}

.column:nth-child(2) .sticky {
  opacity: 1;
  transition: opacity 150ms ease-in;
}

.grid[data-selected-nth="2"] .column:nth-child(2) .sticky {
  opacity: 0;
  transition: opacity 300ms ease-in 750ms;
}

.column:nth-child(3) .sticky {
  opacity: 1;
  transition: opacity 150ms ease-in;
}

.grid[data-selected-nth="3"] .column:nth-child(3) .sticky {
  opacity: 0;
  transition: opacity 300ms ease-in 750ms;
}

.column:nth-child(4) .sticky {
  opacity: 1;
  transition: opacity 150ms ease-in;
}

.grid[data-selected-nth="4"] .column:nth-child(4) .sticky {
  opacity: 0;
  transition: opacity 300ms ease-in 750ms;
}

.sticky__head {
  text-align: center;
}
.column:nth-child(1) .sticky__head svg {
  aspect-ratio: 1/1;
}

.sticky__center {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateY(-50%) translateX(-50%) rotate(90deg);
  transform-origin: center;
}

.content {
  z-index: 1;
  grid-row: 1/-1;
  grid-column: 1;
  opacity: 0;
  transition: opacity 150ms ease-in;
}
.grid[data-selected-nth="1"] .column:nth-child(1) .content {
  opacity: 1;
  transition: opacity 250ms ease-in 750ms;
}

.grid[data-selected-nth="2"] .column:nth-child(2) .content {
  opacity: 1;
  transition: opacity 250ms ease-in 750ms;
}

.grid[data-selected-nth="3"] .column:nth-child(3) .content {
  opacity: 1;
  transition: opacity 250ms ease-in 750ms;
}

.grid[data-selected-nth="4"] .column:nth-child(4) .content {
  opacity: 1;
  transition: opacity 250ms ease-in 750ms;
}

.section {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 3.75rem;
  padding: 3.75rem;
}
.section--fullwidth {
  padding-inline: 0;
}
.section > * {
  grid-column-end: span 2;
}
.column:nth-child(1) .section:nth-child(1) {
  padding-top: 15.625rem;
}
.column:nth-child(1) .section:nth-child(1) h1 {
  grid-column: 1/-1;
  max-width: 30ch;
  font-family: "Playfair Display", serif;
  font-size: 4.6875rem;
  font-weight: 400;
  line-height: 5.375rem;
  text-wrap: balance;
}
.column:nth-child(1) .section:nth-child(2) img {
  grid-column: 1/-1;
}
.column:nth-child(1) .section:nth-child(3) h2 {
  grid-column: 1/-1;
  max-width: 15ch;
  font-family: "Playfair Display", serif;
  font-size: 7.0625rem;
  font-weight: 400;
  line-height: 9.3578rem;
  text-wrap: balance;
}
.column:nth-child(1) .section:nth-child(3) .card {
  font-family: "Spline Sans Mono", monospace;
  font-size: 0.875rem;
  line-height: 1.5;
}
.column:nth-child(1) .section:nth-child(3) .card__txt {
  margin-top: 1.875rem;
}
.column:nth-child(1) .section:nth-child(4) {
  padding-bottom: 5.625rem;
  text-align: center;
}
.column:nth-child(1) .section:nth-child(4) .row {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/-1;
}
.column:nth-child(1) .section:nth-child(4) .row--custom-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  -moz-column-gap: 3.75rem;
       column-gap: 3.75rem;
  place-items: center center;
}
.column:nth-child(1) .section:nth-child(4) .row--custom-grid h2 {
  font-family: "Playfair Display", serif;
  font-size: 6.25rem;
  font-weight: 400;
  line-height: 6.25rem;
}
.column:nth-child(1) .section:nth-child(4) .row--decorative {
  padding-block: 0.75rem;
  background-image: linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(90deg, #000 50%, transparent 0);
  background-repeat: repeat-x, repeat-x;
  background-position: 0 0, 0 100%;
  background-size: 24px 1px, 24px 1px;
}
.column:nth-child(1) .section:nth-child(4) .row--contain-btn {
  position: relative;
}
.column:nth-child(1) .section:nth-child(4) .graphic-text {
  min-width: 7.25rem;
}
.column:nth-child(1) .section:nth-child(4) .graphic-text svg {
  aspect-ratio: 116/60;
}
.column:nth-child(1) .section:nth-child(4) .card {
  grid-column-end: span 2;
  font-family: "Spline Sans Mono", monospace;
  color: currentcolor;
  text-decoration: none;
}
.column:nth-child(1) .section:nth-child(4) .card:nth-child(1) {
  grid-column-start: 1;
}
.column:nth-child(1) .section:nth-child(4) .card:nth-child(2) {
  grid-column-start: 3;
}
.column:nth-child(1) .section:nth-child(4) .card:nth-child(3) {
  grid-column-start: 5;
}
.column:nth-child(1) .section:nth-child(4) .date {
  font-size: 0.75rem;
  line-height: 1.325;
}
.column:nth-child(1) .section:nth-child(4) .description {
  margin-top: 0.9375rem;
}
.column:nth-child(1) .section:nth-child(4) .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 11.25rem;
  padding: 1.25rem;
  font-family: "Spline Sans Mono", monospace;
  font-size: 1rem;
  line-height: 1.325;
  color: currentcolor;
  text-decoration: none;
  background-color: #fff;
  border: 0.0625rem solid #000;
  transform: translate(-50%, -50%);
}
.column:nth-child(1) .section:nth-child(5) {
  grid-template-rows: min-content;
}
.column:nth-child(1) .section:nth-child(5) > * {
  grid-column-end: span 3;
  padding: 0.0625rem;
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 0), linear-gradient(90deg, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 0), linear-gradient(rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 0), linear-gradient(rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 0);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-position-x: 7.5315px, -7.5315px, 0, 100%;
  background-position-y: 0, 100%, -7.5315px, 7.5315px;
  background-size: 30px 1px, 30px 1px, 1px 30px, 1px 30px;
}
.column:nth-child(1) .section:nth-child(5) .address {
  color: currentcolor;
  text-decoration: none;
}
.column:nth-child(1) .section:nth-child(5) .address h3 {
  max-width: 20ch;
  padding: 5.6875rem 1.9375rem;
  margin-inline: auto;
  font-family: "Playfair Display", serif;
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 1.325;
  text-align: center;
}
.column:nth-child(1) .section:nth-child(5) .map {
  position: relative;
  overflow: hidden;
}
.column:nth-child(1) .section:nth-child(5) .map img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translate(-50%, -50%);
}