@import 'https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap';
body {
  font-family: "Radio Canada Big", sans-serif;
  color: #10284b;
}

.middle {
  padding-block: 4rem 10rem;
  padding-inline: 1.5rem;
}
.middle__wrapper {
  display: grid;
  grid-template-columns: 17.5rem auto;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  max-width: 75rem;
  margin-inline: auto;
}

.sidebar {
  position: sticky;
  top: 4rem;
  align-self: start;
}
.sidebar__input__label {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
  color: #4b4b4e;
}
.sidebar__input__search {
  display: grid;
  grid-template-columns: 1.5rem auto;
  height: 2.5rem;
  padding-inline: 0.5rem 1rem;
  margin-top: 0.875rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  background-color: #fff;
  border: 2px solid #acacaf;
  border-radius: 0.25rem;
}
.sidebar__input__search__icon {
  align-self: center;
  color: #acacaf;
}
.sidebar__input__search input {
  border: none;
}
.sidebar__input__search input:focus {
  outline: none;
}
.sidebar__menu {
  padding-left: 0;
  margin-block: 1rem 0;
  list-style: none;
}
.sidebar__menu--lv-2 {
  display: none;
  margin-top: 8px;
}
.sidebar__menu__item {
  display: block;
  padding-block: 1rem;
  padding-left: 1.25rem;
  font-weight: 600;
  line-height: 27.2px;
  color: #4b4b4e;
  text-decoration: none;
}
.sidebar__menu__item:hover {
  color: #381fd1;
}
.sidebar__menu__item--type-btn {
  cursor: pointer;
  background-color: unset;
  border: none;
}
.sidebar__menu__item--lv-2 {
  padding-left: 3rem;
}
.sidebar__submit {
  padding: 24px;
  margin-top: 1.5rem;
  background-color: #f3f2fc;
  border-radius: 0.5rem;
}
.sidebar__submit__title {
  font-family: Radio Canada Big, sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.1;
  color: #10284b;
}
.sidebar__submit__description {
  margin-top: 0.5rem;
  font-size: 1rem;
  line-height: 1.7rem;
}
.sidebar__submit__btn {
  display: block;
  height: 2.5rem;
  padding-block: 0.375rem;
  padding-inline: 1rem;
  margin-top: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #381fd1;
  border-radius: 0.375rem;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.header {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto min-content;
  grid-column: 1/-1;
  gap: 0.5rem 3rem;
  margin-top: 64px;
}
.header:first-child {
  margin-top: 0;
}
.header__title {
  grid-row: 1;
  grid-column: 1;
  font-family: Radio Canada Big, sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.1;
  color: #10284b;
}
.header__description {
  grid-row: 2;
  grid-column: 1/-1;
  font-family: Radio Canada Big, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  color: #10284b;
}
.header__view-all {
  display: block;
  grid-row: 1;
  grid-column: -2;
  align-self: center;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
  text-wrap: nowrap;
  font-family: Roboto Mono, monospace;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4;
  color: #381fd1;
}

.cards {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/-1;
  grid-auto-rows: 1fr;
  gap: 2rem;
  margin-top: 24px;
}
.cards:first-child {
  margin-top: 0;
}

.card {
  display: grid;
  overflow: hidden;
  text-decoration: none;
  border-radius: 0.5rem;
}
.card--type-a {
  gap: 0.75rem;
  padding: 1.5rem 1.5rem 2rem;
  border: 0.0625rem solid #cbcbcd;
}
.card--type-b > * {
  grid-row: 1;
  grid-column: 1;
}
.card--type-b:nth-child(2) {
  background-color: #f3f2fc;
}
.card--type-b:nth-child(3) {
  background-color: #f6f6eb;
}
.card__icon {
  width: 2.5rem;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
  border: 0.0625rem solid #cbcbcd;
  border-radius: 0.5rem;
}
.card__category {
  overflow-x: hidden;
  font-family: "Roboto Mono", monospace;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  font-family: Roboto Mono, monospace;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4;
  color: #381fd1;
}
.card__title {
  display: -webkit-box;
  height: 3lh;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-family: Radio Canada Big, sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.1;
  color: #10284b;
}
.card--type-b .card__title {
  margin: 2rem;
}

.card__bg {
  align-self: end;
}

.footer {
  padding-block: 5rem;
  padding-inline: 1.5rem;
  background-color: #10284b;
}
.footer__wrapper {
  max-width: 72.5rem;
  margin-inline: auto;
}

.sitemap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 3rem;
  padding-left: 0;
  margin-block: 0;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.3125rem;
  color: #fff;
  list-style: none;
}
.sitemap__title {
  font-weight: 900;
  text-transform: uppercase;
}
.sitemap__list {
  display: grid;
  row-gap: 0.5rem;
  padding-left: 0;
  margin-block: 0;
  margin-top: 0.5rem;
  list-style: none;
}
.sitemap__list a {
  color: #fff;
  text-decoration: none;
}
.sitemap__list a:hover {
  text-decoration: underline;
}

.tail {
  display: grid;
  grid-template-columns: repeat(5, 2rem) 1fr auto;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  align-items: center;
  margin-top: 5rem;
}
.tail__link {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/span 5;
  padding-left: 0;
  margin-block: 0;
  list-style: none;
}
.tail__link a {
  display: block;
}
.tail__copyrights {
  grid-column: -2;
  font-family: Roboto Mono, monospace;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4;
  color: #381fd1;
  color: #fedb63;
}