@import 'https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap';
body {
  font-family: "Radio Canada Big", sans-serif;
  color: #10284b;
}

.middle {
  padding-block: 4rem 10rem;
  padding-inline: 1.5rem;
}
.middle__wrapper {
  display: grid;
  grid-template-columns: 17.5rem auto;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  max-width: 75rem;
  margin-inline: auto;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.header {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto min-content;
  grid-column: 1/-1;
  gap: 0.5rem 3rem;
  margin-top: 64px;
}
.header:first-child {
  margin-top: 0;
}
.header__title {
  grid-row: 1;
  grid-column: 1;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.1;
  color: #10284b;
}
.header__description {
  grid-row: 2;
  grid-column: 1/-1;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  color: #10284b;
}
.header__view-all {
  display: block;
  grid-row: 1;
  grid-column: -2;
  align-self: center;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
  text-wrap: nowrap;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4;
  color: #381fd1;
}

.cards {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/-1;
  grid-auto-rows: 1fr;
  gap: 2rem;
  margin-top: 24px;
}
.cards:first-child {
  margin-top: 0;
}

.card {
  display: grid;
  overflow: hidden;
  text-decoration: none;
  border-radius: 0.5rem;
}
.card--type-a {
  gap: 0.75rem;
  padding: 1.5rem 1.5rem 2rem;
  border: 0.0625rem solid #cbcbcd;
}
.card--type-b > * {
  grid-row: 1;
  grid-column: 1;
}
.card--type-b:nth-child(2) {
  background-color: #f3f2fc;
}
.card--type-b:nth-child(3) {
  background-color: #f6f6eb;
}
.card__icon {
  width: 2.5rem;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
  border: 0.0625rem solid #cbcbcd;
  border-radius: 0.5rem;
}
.card__category {
  overflow-x: hidden;
  font-family: "Roboto Mono", monospace;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4;
  color: #381fd1;
}
.card__title {
  display: -webkit-box;
  height: 3lh;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.1;
  color: #10284b;
}
.card--type-b .card__title {
  margin: 2rem;
}

.card__bg {
  align-self: end;
}