$nav-p-x: 1rem;
$nav-w-mx: 60rem;
$body-p-x: 1.5rem;
$body-w-mx: 75rem;
$body-gap: 4rem;
$sidebar-w: 17.5rem;
$card-w-mn: 12.5rem;
$main-gap: 2rem;
$footer-p-x: $body-p-x;
$footer-w-mx: 72.5rem;

// for dev
div {
  min-height: 1rem;
}

.wrapper {
  margin-inline: auto;
  background-color: rgb(0 0 0 / 10%);
}

.nav {
  padding-inline: $nav-p-x;
  background-color: #f6f6eb;

  &__wrapper {
    max-width: $nav-w-mx;
  }
}

.body {
  padding-inline: $body-p-x;
  background-color: #fff;

  &__wrapper {
    display: grid;
    grid-template-columns: $sidebar-w 1fr;
    column-gap: $body-gap;
    max-width: $body-w-mx;
  }
}

.sidebar {
  min-height: 1rem;
  background-color: aquamarine;
}

.main {
  display: grid;
  grid-template-columns: minmax($card-w-mn, 1fr) repeat(
      auto-fit,
      minmax($card-w-mn, 1fr)
    );
  gap: $main-gap;
  min-height: 1rem;
}

.header {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  background-color: bisque;

  &__title {
    grid-row: 1;
    grid-column: 1 / -2;
  }

  &__description {
    grid-row: 2;
    grid-column: 1 / -1;
  }

  &__view-more {
    grid-row: 1;
    grid-column: -2;
    text-align: right;
  }
}

.cards {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  row-gap: $main-gap;
}

.card {
  background-color: cornflowerblue;
}

.footer {
  padding-inline: $footer-p-x;
  background-color: #10284b;

  &__wrapper {
    max-width: $footer-w-mx;
  }
}
