@use 'sass:list';

@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';

$bgcolors: #e30512, #1d3fbb, #ffbe00, #ff651a, #00c1b5, #fff, #fd5f8d;

:root {
  --fixed-m-x: 0.9375rem;
  --fixed-m-y: 1.25rem;
  --logo-h: 1.875rem;
  --logo-h-md: 1rem;
}

$bp-lg: 62.5rem;
$bp-md: 47.5rem;
$bp-sm: 35rem;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  @media (width < $bp-lg) {
    scroll-snap-type: none;
  }
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  background-color: list.nth($bgcolors, 7);
  animation-name: bg-change;
  animation-timeline: scroll();
  @media (width < $bp-lg) {
    animation-name: bg-change-margin;
  }
}

@keyframes bg-change {
  @for $i from 0 through 5 {
    #{100 / 6 * $i}#{'%'},
    #{100 / 6 * $i + 100 / 12}#{'%'} {
      background-color: list.nth($bgcolors, 7 - $i);
    }
  }

  100% {
    background-color: list.nth($bgcolors, 1);
  }
}

@keyframes bg-change-margin {
  @for $i from 0 through 5 {
    #{100 / 6 * $i}#{'%'},
    #{100 / 6 * $i + 100 / 12}#{'%'} {
      background-color: list.nth($bgcolors, 7 - $i);
    }
  }

  100% {
    background-color: list.nth($bgcolors, 1);
  }
}

img {
  display: block;
}

.fixed {
  position: fixed;
  z-index: 2;

  // display: none;

  @at-root a#{&},
    & a {
    color: currentcolor;
  }

  p {
    margin-block: 0;
  }

  &--pos {
    &-tl {
      top: var(--fixed-m-y);
      left: var(--fixed-m-x);
    }

    &-tr {
      top: var(--fixed-m-y);
      right: var(--fixed-m-x);
    }

    &-br {
      right: var(--fixed-m-x);
      bottom: var(--fixed-m-y);
    }

    &-bl {
      right: calc(var(--fixed-m-x) + 4rem + 6.25rem);
      bottom: var(--fixed-m-y);
      left: var(--fixed-m-x);
    }
  }

  &--role {
    &-logo {
      height: var(--logo-h);
      aspect-ratio: 519 / 58;
      @media (width < $bp-md) {
        height: var(--logo-h-md);
      }
    }

    &-contact {
      font-weight: 700;
      text-decoration: none;
      @media (width < $bp-lg) {
        display: none;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    &-list {
      padding-left: 0;
      margin-block: 0;
      line-height: 1.8rem;
      text-transform: capitalize;
      list-style: none;
      transform: rotate(180deg);
      @media (width < $bp-lg) {
        display: none;
      }

      > li {
        transform: rotate(180deg);

        > a {
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &-about {
      max-width: 30ch;
      font-weight: 700;
      text-wrap: balance;
      @media (width < $bp-lg) {
        display: none;
      }
    }
  }

  &__copyright {
    font-size: 0.75rem;
    font-weight: 400;

    > a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  &__policy {
    display: block;
    margin-top: 1lh;

    &:hover {
      text-decoration: none;
    }
  }
}

// #issue {
//   @for $i from 1 through 7 {
//     &-#{$i} {
//       background-color: list.nth($bgcolors, $i);
//     }
//   }
// }

.wrapper {
  z-index: 1;
  display: flex;
  flex-direction: column-reverse;
}

.issue {
  display: grid;
  grid-template-rows: minmax(calc(2 * var(--fixed-m-y) + var(--logo-h)), 1fr) auto 5lh minmax(
      calc(2 * var(--fixed-m-y)),
      1fr
    );
  grid-template-columns: minmax(var(--fixed-m-x), 1fr) minmax(0, 26.25rem) minmax(
      var(--fixed-m-x),
      1fr
    );
  min-height: 100svh;
  scroll-snap-align: center;

  &__img {
    grid-row: 2;
    grid-column: 2;
    justify-self: stretch;
  }

  &__text {
    grid-row: 3;
    grid-column: 2;
    text-align: center;
  }

  &__title {
    margin-block: 0;
    font-weight: 700;
    text-transform: capitalize;
  }

  &__link {
    margin-block: 1lh 0;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.footer {
  display: none;
  @media (width < $bp-lg) {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    justify-content: space-between;
    padding-inline: var(--fixed-m-x);
    padding-bottom: var(--fixed-m-y);
  }
  @media (width < $bp-sm) {
    flex-direction: column-reverse;
    gap: 1lh;
    align-items: center;
    justify-content: center;
  }

  @at-root a#{&},
    & a {
    color: currentcolor;
  }

  &__contact {
    right: var(--fixed-m-x);
    bottom: var(--fixed-m-y);
    font-weight: 700;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__about {
    max-width: 30ch;
    font-weight: 700;
    text-wrap: balance;
    @media (width < $bp-sm) {
      max-width: unset;
      text-align: center;
    }
  }

  &__copyright {
    font-size: 0.75rem;
    font-weight: 400;

    > a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  &__policy {
    display: block;
    margin-top: 1lh;

    &:hover {
      text-decoration: none;
    }
  }
}
