@use 'sass:list';

$color-blue: #5ea3ec;
$color-red: #f64444;
$color-yellow: #ffb400;
$color-white: #fff;
$color-black: #000;
$color-bg-list: ($color-white, $color-blue, $color-red, $color-yellow);
$column-close-w: 3.75rem;
$column-num: 4;

.grid {
  display: grid;
  grid-template-rows: 100vh auto;
  min-height: 100vh;
  background-color: oklch(90% 0 0deg);
  transition: grid-template-columns 300ms ease-in;

  @for $a from 1 through $column-num {
    $val: ();
    @for $b from 1 through $column-num {
      @if $a == $b {
        $val: list.append(
          $val,
          calc(100% - ($column-num - 1) * $column-close-w)
        );
      } @else {
        $val: list.append($val, $column-close-w);
      }
    }
    &[data-selected-nth='#{$a}'] {
      grid-template-columns: $val;
    }
  }
}

.column {
  position: relative;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: 1 / -1;

  &--nth {
    @for $i from 1 through 4 {
      &-#{$i} {
        background-color: list.nth($color-bg-list, $i);
      }
    }
  }
}

.sticky {
  position: sticky;
  top: 0;
  grid-row: 1;
  grid-column: 1;
  padding: 5px;
  overflow: hidden;

  // background-color: rgb(0 0 0 / 50%);
}

.content {
  grid-row: 1 / -1;
  grid-column: 1;
}
